{% load static from staticfiles %}
{% load i18n %}
{% load account %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Signup | Eat Out</title>
  <!-- CORE CSS-->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

<style type="text/css">
html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}
.margin {
  margin: 0 !important;
}
.col.s12 > .btn {
   width: 100%;
  }
</style>
  
</head>

<body>


  <div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Password Reset</span>
              <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes..</p>
            </div>
          </div>
    </div>
  </div>


<!-- ================================================
Scripts
================================================ -->

<!-- jQuery Library -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--materialize js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

</body>

</html>