{% load static from staticfiles %} {% load i18n %} {% load account %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ restaurant.name }} | Eat Out</title>
    <!-- CORE CSS-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <style type="text/css">
    html,
    body {
        height: 100%;
    }

    html {
        display: table;
        margin: auto;
    }

    body {
        display: table-cell;
        vertical-align: middle;
        width: 80%;
    }

    .margin {
        margin: 0 !important;
    }

    .col.s12>.btn {
        width: 100%;
    }

    p.grey-text.text-darken-4.margin {
        font-size: 30px;
    }

    #map {
        height: 300px;
        width: 30%;
    }
    </style>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'restaurant:restaurant_search'%}">Eat Out</a>
    <a class="navbar-brand" href="{% url 'restaurant:restaurants_list'%}">Restaurants </a>
    <a class="navbar-brand" href="{% url 'restaurant:visited_restaurants'%}">Visited </a>
  </div>
  <div class="navbar-collapse collapse navbar-warning-collapse"><ul class="nav navbar-nav navbar-right">
      
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'account_logout'%}">{{request.user.username}}</a></li>
                        <li><a href="{% url 'account_logout'%}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login'%}">Sigin</a></li>
                        {% endif %}
    </ul></div>
</div>
    <!-- medium -->
    <div id="profile-page-wall-post" class="card" style="margin-top: 50px;">
        <div class="card-profile-title">
            <div class="row">
                <div class="col s1">
                    <img src="/media/{{ user.profile_pic }}" alt="" class="square responsive-img valign profile-post-uer-image">
                </div>
                <div class="col s2 right-align">
                    <p class="grey-text text-darken-4 margin">{{ user.user.username }}</p>
                    <span class="grey-text text-darken-1 ultra-small">Email: {{ user.user.email }}</span>
                </div>
            </div>
        </div>
    </div>
    <h4>Reviews</h4>
    {%for review in user.user.reviews.all %}
    <div id="profile-page-wall-post" class="card">
        <div class="card-action row">
            

            
            <h5><a href="http://{{ request.get_host }}/restaurant/display/{{ review.restaurant.pk }}"><p class="grey-text text-darken-4 margin">{{ review.restaurant.name }}</p></a></h5>
            <div><h6>{{ review.reviews }}</h6></div>
            <div id="comments"> 
    <details>
        <summary>
               Comments
        </summary>
                {%for comment in review.comments.all %}
                <div class="content">
            <p>
        {{ comment.comments }}</p>
        </div>
                {%endfor%}</details>
            </div>
            

    </div>

    </div>{% endfor %}
    <!-- ================================================
  Scripts
================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--materialize js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</body>

</html>